/* Custom styles for the header section */

body {
  padding: 10px;
  background-color: #ffffff; /* Set a background color */
  /* OR */
  background-image: url('path/to/your/image.jpg'); /* Set a background image */
  background-size: cover; /* Optional: Cover the entire viewport */
  background-repeat: no-repeat; /* Optional: Prevent repeating the background image */
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: auto;
  background-color: #f8e537; /* Set text color */
  padding: 20px; /* Add padding for spacing */
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
  cursor: pointer;
  font-family: Arial, sans-serif; /* Specify font */
}

header ul {
  display: flex;
  gap: 10px;
  list-style: none;
}

header ul li {
  font-weight: 600;
  font-size: 16px;
  font-family: Arial, sans-serif; /* Specify font */
}

header ul li:hover {
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

header .cart {
  position: relative;
}

header .cart #count {
  border-radius: 999999999px;
  background-color: red;
  height: 20px;
  width: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  display: none;
}

header .cart img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

header ul#cart-items {
  flex-direction: column;
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 4px #000;
  padding: 0;
  gap: 4px;
  display: none;
  width: 250px;
  right: 0;
  z-index: 99999;
  padding: 10px;
}

.container-fluid {
  padding: 10px; /* Add padding to the container */
  background-color: #f8f9fa; /* Set background color */
  font-family: Arial, sans-serif; /* Specify font */
}

header {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Align items to the start and end of the header */
  align-items: center; /* Center items vertically */
}

div#product-cards {
  gap: 35px;
}

.card {
  border: 1px solid #caff84 !important;
}
.logistics-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.logistics-form-container div {
  margin-bottom: 10px; /* Adjust margin between form elements */
}
/* Style for chat box */
#chatBox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

/* Style for chat messages */
#chatMessages {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 10px;
}

/* Style for chat input */
#chatInput {
  width: 80%;
  padding: 5px;
  margin-right: 5px;
}

/* Style for chat button */
#chatButton {
  background-color: #b166e4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
